name:  Auth Service DevSecOps CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build-test:
    name: Build & Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend/auth-service

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: true

      - name: Go fmt
        run: go fmt ./...

      - name: Go test with coverage
        run: |
          go test ./... -coverprofile=coverage.out

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: apps/backend/auth-service/coverage.out

  sonarcloud:
    name: Code Quality (SonarCloud)
    needs: build-test
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: apps/backend/auth-service

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: true
          cache-dependency-path: apps/backend/auth-service/go.sum

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=JTR220_collector
            -Dsonar.organization=jtr220
            -Dsonar.sources=.
            -Dsonar.exclusions=**/*_test.go

  sast:
    name: SAST (gosec)
    needs: build-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend/auth-service

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - run: go install github.com/securego/gosec/v2/cmd/gosec@latest
      - run: gosec -fmt=json -out=gosec-report.json ./...
      - name: Upload SAST report (gosec)
        uses: actions/upload-artifact@v4
        with:
          name: gosec-report
          path: apps/backend/auth-service/gosec-report.json

  sca:
    name: SCA (govulncheck)
    needs: build-test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/backend/auth-service

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - run: govulncheck -mode=source -json ./... > govulncheck-report.json
      - name: Upload SCA report (govulncheck)
        uses: actions/upload-artifact@v4
        with:
          name: govulncheck-report
          path: apps/backend/auth-service/govulncheck-report.json
  secrets:
    name: Secret Scanning (Gitleaks)
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: gitleaks/gitleaks-action@v2